.section {
  margin-bottom: 10.9rem;
  z-index: 1;
}

.roundsContainer {
  height: 13.2rem;
  background-image: url("../../../../assets/images/accountantSection.jpg");
  background-position: center;
  position: relative;
  width: 100%;
}

.bigRound {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translate(-50%, 0%);
  white-space: pre-line;
  font-weight: 500;
  line-height: 0.72rem;
  font-size: 0.5rem;
  width: 20rem !important;
  height: 20rem !important;
}

.smallRound {
  position: absolute;
  left: 50%;
  /* half of round width */
  bottom: -15px;
  transform: translate(-50%, 0%);
}

.title {
  text-align: center;
  background: #000000;
  color: white;
  padding: 12px 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
